body {
    --text: #00ffe1;
    --background: #000000;
    --primary: #2f27ce;
    --secondary: #dedcff;
    --accent: #433bff;

}

body {
    background-color: var(--background);
    color: var(--text);
}

.sub {
    color: var(--primary);
}

button {
    background-color: darkgreen;
    color: red;
}

.imagestack {
    position: relative;
}

.stacked-image {
    position: absolute;
    top: 0;
    left: 0;
}

.top-layer {
    z-index: 1;
    top: 14px;
    left: 35px;
    
    /* opacity: 10%; */
}

.bottom-layer {
    z-index: 2;

}